@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  color: #6d6e70;
  overflow-x: hidden;
  background: #f7f7f7;
}

html,
body {
  height: 100%;
}

a {
  color: #6d6e70;
}

a:hover {
  color: #A3CF60;
  text-decoration: none;
}

.btn {
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
  height: 40px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

:focus {
  outline: none;
}

.colorPrimary {
  color: #A3CF60;
}

.btnPrimary {
  background: #A3CF60;
  color: #fff;
}

.btnPrimary:hover {
  color: #fff;
  background: #007D4C;
}

.btnOutline {
  border-color: #A3CF60;
  color: #A3CF60;
}

.btnOutline:hover {
  border-color: #007D4C;
  color: #fff;
  background: #007D4C;
}

.grey {
  color: #9E9E9E;
}

/* side bar */
#sidebar-wrapper {
  width: 16rem;
  background: #fff;
  height: 100%;
}

#sidebar-wrapper .sidebar-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

#sidebar-wrapper .sidebar-heading img {
  width: 145px;
}

#page-content-wrapper {
  margin-left: 16rem;
}

#sidebar-wrapper .list-group {
  margin-left: 25px;
}

#sidebar-wrapper .list-group a {
  padding: 12px 20px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar-wrapper .list-group a svg {
  margin: 0 12px 0 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 17px;
  height: 17px;
}

#sidebar-wrapper .list-group a:hover svg {
  color: #A3CF60;
}

#sidebar-wrapper .list-group a.active {
  background: #A3CF60;
  color: #fff;
  border-radius: 40px 0 0 40px;
}

#sidebar-wrapper .list-group a.active svg {
  color: #fff;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

#sidebar-wrapper {
  min-height: 100vh;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.toggled #sidebar-wrapper {
  margin-left: -16rem;
}

#sidebar-wrapper {
  position: fixed;
  z-index: 9999;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
}

.container {
  max-width: 100%;
  padding: 0 3% 3%;
}

.barmobile {
  display: none;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user h3 {
  font-size: 15px !important;
  font-weight: 600;
  margin: 0;
  text-align: right;
  margin-right: 15px;
}

.user h3 span {
  font-size: 14px;
  display: block;
  margin-top: 5px;
  color: #9E9E9E;
  font-weight: 400;
}

.user .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.user .avatar img {
  width: 100%;
}

@media (max-width: 1200px) {
  #page-content-wrapper {
    margin-left: 0;
    margin-top: 66px;
  }
  .container {
    padding: 0 16px 16px;
  }
  .title {
    margin: 27px 0;
    height: auto !important;
  }
  .title .user {
    position: fixed;
    top: 0;
    z-index: 100;
    right: 16px;
    top: 15px;
  }
  .title .user .avatar {
    width: 30px;
    height: 30px;
  }
  .title .user h3 {
    margin-right: 10px;
  }
  .title .user h3 span {
    margin-top: 1px;
  }
  #sidebar-wrapper {
    margin-left: -16rem;
  }
  .toggled #sidebar-wrapper {
    margin-left: 0;
  }
  .toggled #page-content-wrapper::after {
    content: '';
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    z-index: 980;
    height: 100%;
  }
  .barmobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 99;
    -webkit-box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.15);
    height: 65px;
  }
  .barmobile img {
    width: 125px;
  }
  .barmobile button {
    background: none;
    border: none;
    margin-right: -15px;
  }
  .barmobile svg {
    color: #6d6e70;
  }
}

/* end side bar */
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 99px;
}

.title h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.title .links h3 a {
  margin-left: -5px;
  margin-right: 5px;
  font-size: 20px;
  color: #9E9E9E;
}

.title .links h3 a svg {
  width: 20px;
  height: 20px;
}

.title .links a {
  margin-left: 25px;
  text-decoration: underline;
  color: #A3CF60;
  font-size: 14px;
}

.title .links a:hover {
  color: #A3CF60;
}

.box {
  background: #fff;
  padding: 25px;
}

.box label {
  font-weight: 600;
  font-size: 13px;
}

.status {
  font-size: 13px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.status::before {
  content: '';
  width: 6px;
  height: 6px;
  background: #6d6e70;
  border-radius: 50%;
  margin-right: 6px;
}

.status .note {
  background: #F4900E;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 600;
  margin-left: 10px;
  margin-top: -10px;
}

.status-apr {
  color: #A3CF60;
}

.status-apr::before {
  background: #A3CF60;
}

.status-going {
  color: #F4900E;
}

.status-going::before {
  background: #F4900E;
}

.status-pending {
  color: #2A80F1;
}

.status-pending::before {
  background: #2A80F1;
}

.font-weight-semibold {
  font-weight: 600;
}

.table-custom {
  color: #6d6e70;
}

.table-custom th {
  background: #F7F7F7;
  font-size: 13px;
  font-weight: 600;
  color: #6d6e70;
  border: none !important;
  padding: 23px 20px 18px;
  white-space: nowrap;
}

.table-custom td {
  border-top: none;
  border-bottom: 1px solid #f7f7f7;
  padding: .85rem 20px .85rem;
  vertical-align: middle;
  white-space: nowrap;
}

.table-custom .color1 {
  color: #007D4C !important;
  font-weight: 600;
}

.table-custom .color2 {
  color: #2A80F1 !important;
  font-weight: 600;
}

.table-custom tbody tr {
  cursor: pointer;
}

.table-custom tbody tr:hover {
  background-color: #f8f9fa;
}

.table-custom .last {
  background: transparent !important;
}

.table-custom .last td {
  padding-bottom: 0;
  border: none;
  padding-top: 20px;
}

.table-custom .dropdown button {
  color: #6d6e70;
}

.table-custom .dropdown svg {
  width: 18px;
  height: 18px;
}

.table-custom .dropdown .dropdown-menu {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 3px;
  padding: 0;
  min-width: 160px;
}

.table-custom .dropdown .dropdown-menu .dropdown-item {
  border-bottom: 1px solid #eaeaea;
  padding: 8px 20px;
  color: #6d6e70;
  font-size: 15px;
  font-weight: 400;
  margin-top: -3px;
}

.table-custom .dropdown .dropdown-menu .dropdown-item:focus {
  background-color: #A3CF60;
  color: #fff;
}

.table-custom .dropdown .dropdown-menu .dropdown-item svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.table-custom .dropdown .dropdown-menu .dropdown-item:last-child {
  border: none;
}

.table-nolinktr tbody tr {
  cursor: inherit;
}

.search-form input {
  border-color: #E6E6E6;
  border-radius: 4px;
  height: 40px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.search-form input:focus {
  border-color: #A3CF60;
}

.search-form .btn {
  width: 100%;
}

.selectCustom .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}

.selectCustom .btn {
  background-color: transparent !important;
  border-color: #E6E6E6;
  border-radius: 4px;
  color: #6d6e70 !important;
  font-weight: 400 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.selectCustom .btn.dropdown-toggle:focus {
  outline: none !important;
}

.selectCustom .dropdown-toggle::after {
  background-image: url("../images/chevron-down.svg");
  height: 18px;
  width: 22px;
  border: none;
  background-size: 100%;
  opacity: 0.4;
}

.selectCustom .dropdown-item {
  padding: 10px 1.5rem;
}

.selectCustom .dropdown-item.active,
.selectCustom .dropdown-item:active {
  background-color: #A3CF60;
}

.paginationCustom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.paginationCustom span {
  font-size: 13px;
  opacity: 0.75;
}

.paginationCustom ul {
  margin-bottom: 0;
}

.paginationCustom ul .page-item {
  margin: 0 5px;
}

.paginationCustom ul .page-item svg {
  width: 20px;
  height: 20px;
}

.paginationCustom ul .page-item.active .page-link {
  background-color: #A3CF60;
  border-color: #A3CF60;
}

.paginationCustom ul .page-item.disabled .page-link {
  opacity: 0.5;
}

.paginationCustom ul .page-link {
  color: #6d6e70;
  border-radius: 4px;
  height: 35px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  font-size: 13px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tabs .nav {
  background: #EEEEEE;
  border: none;
  border-radius: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs .nav svg {
  margin-right: 10px;
}

.tabs .nav .nav-link {
  font-weight: 600;
  padding: 12px 1rem;
}

.tabs .nav .nav-link:hover {
  border: none;
}

.tabs .nav .nav-link.active {
  background: #A3CF60;
  color: #fff;
  border-radius: 0;
}

.tabs .tab-content .box {
  height: 100%;
}

.tabs .tab-content .box .infoNumber {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.tabs .tab-content .box .infoNumber li {
  padding: 10px 0;
}

.tabs .tab-content .box .infoNumber label {
  opacity: 0.75;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
}

.tabs .tab-content .box .progressDays {
  position: relative;
}

.tabs .tab-content .box .progressDays svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.tabs .tab-content .box .progressDays svg circle {
  -webkit-animation: load 3s;
          animation: load 3s;
}

@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 339.292;
  }
}

@keyframes load {
  0% {
    stroke-dashoffset: 339.292;
  }
}

.tabs .tab-content .box .progressDays .text {
  color: #A3CF60;
  font-weight: 700;
  font-size: 27px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 22px;
}

.tabs .tab-content .box .progressDays .text span {
  font-size: 15px;
  font-weight: 600;
  display: block;
}

.tabs .tab-content .box .linkfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs .tab-content .box .linkfile button {
  margin-top: -7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs .tab-content .box .linkfile button svg {
  width: 20px;
  height: 20px;
}

.tabs .tab-content .box .shipmentprogress {
  margin-top: 3rem;
  position: relative;
}

.tabs .tab-content .box .shipmentprogress .ttboat {
  position: relative;
  top: 12px;
  left: -25px;
  -webkit-animation: boat 3s;
          animation: boat 3s;
}

@-webkit-keyframes boat {
  0% {
    margin-left: 0;
  }
}

@keyframes boat {
  0% {
    margin-left: 0;
  }
}

.tabs .tab-content .box .shipmentprogress .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  font-weight: 600;
}

.tabs .tab-content .box .shipmentprogress .days span {
  font-weight: 400;
  display: block;
  color: #9E9E9E;
  margin-top: 5px;
}

.tabs .tab-content .box .shipmentprogress .progress {
  height: 2px;
  background: #e6e6e6;
}

.tabs .tab-content .box .shipmentprogress .progress .progress-bar {
  background: #A3CF60;
  -webkit-animation: animateBar 3s;
          animation: animateBar 3s;
}

@-webkit-keyframes animateBar {
  0% {
    width: 0;
  }
}

@keyframes animateBar {
  0% {
    width: 0;
  }
}

.linkdocument {
  color: #097344 !important;
  text-decoration: underline !important;
}

.titleChart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleChart .dropdown {
  min-width: 120px;
  width: auto !important;
}

.titleChart .dropdown .btn {
  font-size: 14px;
  height: 36px;
}

.titleChart .dropdown li a {
  font-size: 14px;
}

/* LOGIN */
.loginPage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginPage .background {
  height: 100%;
  position: relative;
}

.loginPage .background img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.loginPage .background::before {
  background: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loginPage .boxLogin {
  max-width: 400px;
  width: 400px;
  margin: auto;
  text-align: center;
}

.loginPage .boxLogin h4 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
}

.loginPage .boxLogin input {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #CCCCCC;
  background: transparent;
  width: 100%;
  padding-bottom: 15px;
}

.loginPage .boxLogin .fgpass {
  text-decoration: underline;
  font-size: 14px;
}

.loginPage .boxLogin button {
  min-width: 165px;
  height: 45px;
}

@media (max-width: 991px) {
  .loginPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .loginPage .background {
    display: none;
  }
  .loginPage .boxLogin {
    padding: 20px;
  }
}

/* Chat widget */
.chatbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  padding: 0 20px 20px;
  max-width: 400px;
  margin-right: 30px;
}

.sidebar .searchChat {
  margin: 20px 0;
  position: relative;
}

.sidebar .searchChat svg {
  position: absolute;
  top: 6px;
  left: 10px;
}

.sidebar .searchChat input {
  border-radius: 30px;
  background: #F7F7F7;
  border: none;
  font-size: 15px;
  padding-left: 40px;
}

.sidebar .list-wrap {
  width: 100%;
  overflow: auto;
}

.sidebar .list-wrap .list {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  height: 70px;
  cursor: pointer;
}

.sidebar .list-wrap .list:hover, .sidebar .list-wrap .list.active {
  background: #F4F7F9;
}

.sidebar .list-wrap .list img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.sidebar .list-wrap .list .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sidebar .list-wrap .list .info .user {
  font-weight: 600;
  font-size: 15px;
}

.sidebar .list-wrap .list .info .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
  font-size: 13px;
}

.sidebar .list-wrap .list .time {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 13px;
  color: #a9a9a9;
}

.sidebar .list-wrap .list .count {
  font-size: 13px;
  font-weight: 600;
  background: #A3CF60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #fff;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content header {
  height: 76px;
  background: #fff;
  border-bottom: 1px solid #F1F1F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.content header .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content header .info .user {
  font-weight: 600;
}

.content header .info .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
  font-size: 13px;
}

.content header .open {
  display: none;
}

.content header .open a {
  color: #000;
  letter-spacing: 3px;
}

.message-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  overflow: auto;
  background: #fff;
}

.message-wrap::before {
  content: '';
  margin-bottom: auto;
}

.message-wrap .message-list {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 70%;
  margin-bottom: 10px;
}

.message-wrap .message-list.me {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.message-wrap .message-list.me .msg {
  background: #A3CF60;
  color: #fff;
  border-radius: 20px 20px 0 20px;
}

.message-wrap .message-list.me .msg p {
  margin-bottom: 0;
}

.message-wrap .message-list.me .time {
  text-align: right;
}

.message-wrap .message-list .time {
  text-align: left;
  color: #999;
  font-size: 13px;
}

.message-wrap .message-list .msg {
  background: #F3F3F3;
  padding: 10px 13px;
  border-radius: 20px 20px 20px 0;
}

.message-wrap .message-list .msg p {
  margin-bottom: 0;
}

.message-footer {
  border-top: 1px solid #f3f3f3;
  background: #fff;
  padding: 10px 20px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message-footer button {
  border: none;
  background: #A3CF60;
  border-radius: 50%;
  color: #fff;
  width: 40px;
  height: 40px;
}

.message-footer input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 20px 20px 0;
  border: none;
  font-size: 15px;
}

.message-footer .sendfile {
  width: 40px;
  height: 40px;
  position: relative;
}

.message-footer .sendfile input {
  opacity: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
}

.message-footer .sendfile svg {
  margin-top: 7px;
  opacity: 0.65;
}

@media (max-width: 991px) {
  .tab-content .col-sm-12 {
    margin-bottom: 16px;
  }
  .tabs .nav svg {
    display: block;
    margin: 5px auto;
  }
  .sidebar {
    width: 40%;
    max-width: 100%;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .paginationCustom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .paginationCustom span {
    margin-bottom: 20px;
  }
  .box {
    padding: 16px;
  }
  .titleChart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .titleChart .dropdown {
    margin-top: 13px;
  }
  .chatbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .sidebar {
    width: 100%;
    max-width: 100%;
    max-height: 50vh;
    margin-bottom: 16px;
  }
  .content {
    padding: 0;
    max-height: 70vh;
  }
}
/*# sourceMappingURL=style.css.map */