@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  color: #6d6e70;
  overflow-x: hidden;
  background: #f7f7f7;
}

a {
  color: #6d6e70;
}

a:hover {
  color: #A3CF60;
}

.btn {
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
  height: 40px;
}

:focus {
  outline: none;
}

.btnPrimary {
  background: #A3CF60;
  color: #fff;
}

.btnPrimary:hover {
  color: #fff;
  background: #007D4C;
}

.btnOutline {
  border-color: #A3CF60;
  color: #A3CF60;
}

.btnOutline:hover {
  border-color: #007D4C;
  color: #fff;
  background: #007D4C;
}

/* side bar */
#sidebar-wrapper {
  width: 16rem;
  background: #fff;
  height: 100%;
}

#sidebar-wrapper .sidebar-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

#sidebar-wrapper .sidebar-heading img {
  width: 125px;
}

#page-content-wrapper {
  margin-left: 16rem;
}

#sidebar-wrapper .list-group {
  margin-left: 25px;
}

#sidebar-wrapper .list-group a {
  padding: 12px 20px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar-wrapper .list-group a svg {
  margin: 0 12px 0 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 17px;
  height: 17px;
}

#sidebar-wrapper .list-group a:hover svg {
  color: #A3CF60;
}

#sidebar-wrapper .list-group a.active {
  background: #A3CF60;
  color: #fff;
  border-radius: 40px 0 0 40px;
}

#sidebar-wrapper .list-group a.active svg {
  color: #fff;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

#sidebar-wrapper {
  min-height: 100vh;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.toggled #sidebar-wrapper {
  margin-left: -16rem;
}

#sidebar-wrapper {
  position: fixed;
  z-index: 999;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
}

@media (max-width: 768px) {
  #page-content-wrapper {
    margin-left: 0;
  }
  #sidebar-wrapper {
    margin-left: -16rem;
  }
  .toggled #sidebar-wrapper {
    margin-left: 0;
  }
  .toggled #page-content-wrapper::after {
    content: '';
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    z-index: 980;
    height: 100%;
  }
}

/* end side bar */
.container {
  max-width: 96%;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 25px;
}

.title h3 {
  font-size: 20px;
  font-weight: 600;
}

.box {
  background: #fff;
  padding: 25px;
}

.box label {
  font-weight: 600;
  font-size: 13px;
}

.status {
  font-size: 13px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.status::before {
  content: '';
  width: 6px;
  height: 6px;
  background: #6d6e70;
  border-radius: 50%;
  margin-right: 6px;
}

.status .note {
  background: #F4900E;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 600;
  margin-left: 10px;
  margin-top: -10px;
}

.status-apr {
  color: #A3CF60;
}

.status-apr::before {
  background: #A3CF60;
}

.status-going {
  color: #F4900E;
}

.status-going::before {
  background: #F4900E;
}

.status-pending {
  color: #2A80F1;
}

.status-pending::before {
  background: #2A80F1;
}

.table-custom {
  color: #6d6e70;
}

.table-custom th {
  background: #F7F7F7;
  font-size: 13px;
  font-weight: 600;
  color: #6d6e70;
  border: none !important;
  padding: 23px 20px 18px;
  white-space: nowrap;
}

.table-custom td {
  border-top: none;
  border-bottom: 1px solid #f7f7f7;
  padding: .85rem 20px .85rem;
  vertical-align: middle;
}

.table-custom td:nth-child(1) a {
  color: #007D4C;
}

.table-custom td:nth-child(1) a:hover {
  color: #007D4C;
}

.table-custom td:nth-child(2) {
  color: #2A80F1;
}

.table-custom td:last-child {
  padding-left: 0;
}

.table-custom tr:hover {
  background-color: #f8f9fa;
}

.search-form input {
  border-color: #E6E6E6;
  border-radius: 4px;
  height: 40px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.search-form input:focus {
  border-color: #A3CF60;
}

.search-form .buttonSearch {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.selectCustom .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}

.selectCustom .btn {
  background-color: transparent !important;
  border-color: #E6E6E6;
  border-radius: 4px;
  color: #6d6e70 !important;
  font-weight: 400 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.selectCustom .btn.dropdown-toggle:focus {
  outline: none !important;
}

.selectCustom .dropdown-toggle::after {
  background-image: url("../images/chevron-down.svg");
  height: 18px;
  width: 22px;
  border: none;
  background-size: 100%;
  opacity: 0.4;
}

.selectCustom .dropdown-item {
  padding: 10px 1.5rem;
}

.selectCustom .dropdown-item.active, .selectCustom .dropdown-item:active {
  background-color: #A3CF60;
}

.paginationCustom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.paginationCustom span {
  font-size: 13px;
  opacity: 0.75;
}

.paginationCustom ul {
  margin-bottom: 0;
}

.paginationCustom ul .page-item {
  margin: 0 5px;
}

.paginationCustom ul .page-item svg {
  width: 20px;
  height: 20px;
}

.paginationCustom ul .page-item.active .page-link {
  background-color: #A3CF60;
  border-color: #A3CF60;
}

.paginationCustom ul .page-item.disabled .page-link {
  opacity: 0.5;
}

.paginationCustom ul .page-link {
  color: #6d6e70;
  border-radius: 4px;
  height: 35px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  font-size: 13px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user h3 {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  text-align: right;
  margin-right: 15px;
}

.user h3 span {
  font-size: 13px;
  display: block;
  margin-top: 5px;
}

.user .avatar {
  width: 40px;
  height: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user .avatar svg {
  color: #fff;
  width: 18px;
  height: 18px;
}
/*# sourceMappingURL=style.css.map */